*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    column-count: 3;
    column-width: 300px;
}
.my-image{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    font-size: calc(2rem + 2vw);
    color:blue;
}