ul{
    font-size: 30px;
    list-style-type:square;
    /* list-style-image: url("./leaf.jpg"); */
    color: palevioletred;
    list-style-position: inside;
    text-align: center;
}
div{
    text-align: center;
}
span{
    font-size: 40px;
    color: orangered;
}
p{
    font-size: 20px;
}
a{
    color: darkgreen;
}
a:visited{
    color: darkred;
}
a:hover{
    color: orangered;
    font-size: 40px;
}
a:active{
    color: palevioletred;
}
