*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 600px;
    margin: auto;
    margin-bottom: 200px;
    padding: 20px;
    background-color: darkkhaki;
    margin-top: 50px;
    border: 5px solid black;
}
label{
    font-size: 1.2rem;
}
input,select,textarea{
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
    border: 2px solid green;
}

input[type="checkbox"],input[type="radio"]
{
    width: 20px;
}
.space{
    margin-bottom: 15px;
}
button{
    background-color: grey;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: auto;
}