*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* To make text as responsive */
/* .main{
    column-count: 3;
    column-width: 300px;
} */

/* To make images as responsive */
.my-image{
    /* Its responsive for small devices */
    width: 100%; 
    max-width: 500px;
}

/* To make heading responsive */
h1{
    color: blueviolet;
    font-size: calc(1rem + 1vw);
}