*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* The Default direction of flex container is row */
    flex-direction: row;

}
.child
{
    width: 100px;
    height: 100px;
}
.child-1{
    background-color: red;
}
.child-2{
    background-color: blue;
}
.child-3
{
    background-color: green;
}