*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* The Default direction of flex container is row */
    flex-direction: row;
    /* justify-content: space-between; */
    /* Vertical Alignment */
    /* align-items: center; */
    flex-wrap: wrap;


}
.child
{
    width: 100px;
    height: 100px;
}
.child-1{
    background-color: red;
    /* flex-grow: 1; */
    /* flex-basis: 0px; */
    /* height: 400px; */
}
.child-2{
    background-color: blue;
    /* flex-grow: 2; */
    /* flex-basis: 0px; */
    /* flex-shrink: 0; */
    /* height: 200px; */
}
.child-3
{
    background-color: green;
    /* flex-grow: 1; */
    /* flex-basis: opx; */
    /* height: 300px; */
}