*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap

}
.child
{
    width: 100px;
    height: 100px;
}
.child-1{
    background-color: red;
    /* flex-basis: 0px; */
    /* flex-grow: 1; */
    /* height: 400px; */
}
.child-2{
    background-color: blue;
    /* flex-basis: 0px; */
    /* flex-shrink: 0;
    flex-grow: 2; */
    /* height: 200px; */
}
.child-3
{
    background-color: green;
    /* flex-basis: 0px; */
    /* flex-grow: 1; */
    /* height: 500px; */
}