#heading1{
    color: blueviolet;
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px yellow;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style:oblique;
    font-weight: 900;
}
.heading2{
    color: green;
}

.para{
    line-height: 30px;
    font-size: 20px;
}