*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: yellow;
    background-color: burlywood;
    text-align: center;
}
.img1{
    width: 300px;
    float: right;
}
.img2{
    width: 300px;
    float: left;
    margin: 10px;
}
.img3{
    width: 300px;
    display: block;
    margin: auto;
    border: 6px solid rgb(190, 33, 33);
    border-radius: 10px;
}
 /* div{
    text-align: center;
 } */