*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
thead{
    background-color: cadetblue;
    color: red;
}
tbody
{
    background-color: lightcoral;
    color: purple;
}
tr:hover{
    background-color: lightgreen;
    color: black;
}
