*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color:bisque;
    padding: 20px;
    border: 5px solid purple;
}
input,select,textarea{
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid green;
}
label{
    font-size: 1.4rem;
}
.space{
    margin-bottom: 15px;
}
input[type="checkbox"],input[type="radio"]{
    width: 20px;
}
button{
    background-color: honeydew;
    color: blue;
    display: block;
    margin: auto;
    font-size: 1.4rem;
    padding: 5px 20px;
}



